{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron text-center">
    <h1>Exploring Our National Parks</h1>
    <h4>with</h4>
    <h4>Brenda, Patsy, Diane and Jana</h4>   
    <p></p>
    <img style="text-align:center" src="https://media.giphy.com/media/rUrPxeIxcwZTq/giphy.gif" width="690">
    <p></p>
    <p>Data Sources:<p/>
      <p><a href="https://catalog.data.gov/dataset/national-park-boundariesf0a4c/resource/4e29cd83-62eb-4a46-8b91-e246783d84c8" target="_blank">National Park Boundaries from Data.gov</a><p/>
      <p><a href="https://irma.nps.gov/Stats/SSRSReports/National%20Reports/Annual%20Visitation%20By%20Park%20(1979%20-%20Last%20Calendar%20Year)" target="_blank">U.S. Dept. of the Interior Annual Park Visitation</a><p/>


  </div>

{% endblock %}